<!DOCTYPE html>
<html>
<head>
  <title>Products Screen</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <style></style>
  <div id="products-container"></div>
  <script>
    const productsArr = [
      {
        title: 'Colors',
        price: 100,
        imageUrl: 'https://prasadyash2411.github.io/ecom-website/img/Album%201.png',
      },
      {
        title: 'Black and white Colors',
        price: 50,
        imageUrl: 'https://prasadyash2411.github.io/ecom-website/img/Album%202.png',
      },
      {
        title: 'Yellow and Black Colors',
        price: 70,
        imageUrl: 'https://prasadyash2411.github.io/ecom-website/img/Album%203.png',
      },
      {
        title: 'Blue Color',
        price: 100,
        imageUrl: 'https://prasadyash2411.github.io/ecom-website/img/Album%204.png',
      }
    ];

    const productsContainer = document.getElementById('products-container');

    productsArr.forEach(product => {
      const productElement = document.createElement('div');
      productElement.innerHTML = `
        <img src="${product.imageUrl}" alt="${product.title}">
        <h3>${product.title}</h3>
        <p>Price: $${product.price}</p>
      `;
      productsContainer.appendChild(productElement);
    });
  </script>
</body>
</html>
