
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #27a6b4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  .body {
    background-color: #d43737;
  }
  

  .formm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .formm div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .formm label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .formm input[type="text"],
  .formm input[type="number"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .formm button {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
  }
  
  .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .items-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .items-list button {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
  }
  
  .cart-container {
    position: relative;
  }
  
  .cart-container button {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
  }
  